@font-face {
    font-family: "JosefinSans Regular";
    src: url('fonts/JosefinSans-Regular.ttf');
    src: url('fonts/JosefinSans-Regular.woff');
    src: url('fonts/JosefinSans-Regular.woff2');
}

@font-face {
    font-family: "JosefinSans Medium";
    src: url('fonts/JosefinSans-Medium.ttf');
    src: url('fonts/JosefinSans-Medium.woff');
    src: url('fonts/JosefinSans-Medium.woff2');
}

@font-face {
    font-family: "JosefinSans Bold";
    src: url('fonts/JosefinSans-Bold.ttf');
    src: url('fonts/JosefinSans-Bold.woff');
    src: url('fonts/JosefinSans-Bold.woff2');
}
html {
    min-height: 100vh;
    max-height: 100vh;
    /* background: radial-gradient(circle at center, #0E3562, #030316 100%); */
}
* {
    font-family: JosefinSans Regular;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/* Universal */
.invert {
    filter: invert();
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-column {
    display: flex;
    flex-direction: column;
}
.flex-horizontal-16 {
    display: flex;
    gap: 16px;
}

/* Home Page */

/* Layout */
/* body {
    height: 100vh;
    background: radial-gradient(55.57% 55.57% at 50% 44.43%, #195398 0%, #030316 99.29%);
    overflow-y: hidden;
} */
/* #album-container::-webkit-scrollbar-button {
    display: none;
} */
body {
    min-height: 100vh;
    background-color: #051234;
    background-image: 
      radial-gradient(closest-side, rgb(13, 51, 97), rgba(13, 51, 97, 0)),
      radial-gradient(closest-side, rgb(50, 9, 107), rgba(50, 9, 107, 0)),
      radial-gradient(closest-side, rgb(9, 52, 126), rgba(9, 52, 126, 0)),
      radial-gradient(closest-side, rgb(12, 52, 122), rgba(12, 52, 122, 0)),
      radial-gradient(closest-side, rgb(120, 48, 222), rgba(120, 48, 222, 0));
    background-size: 
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
    background-repeat: no-repeat;
    /* animation: 20s movement linear infinite; */
    overflow-y: hidden;
     
  }
  
  body::after {
    content: '';
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    z-index: -1;
    /* -webkit-backdrop-filter: blur(10px); */
  }
  
  /* @keyframes movement {
    0%, 100% {
      background-size: 
        130vmax 130vmax,
        80vmax 80vmax,
        90vmax 90vmax,
        110vmax 110vmax,
        90vmax 90vmax;
      background-position:
        -80vmax -80vmax,
        60vmax -30vmax,
        10vmax 10vmax,
        -30vmax -10vmax,
        50vmax 50vmax;
    }
    25% {
      background-size: 
        100vmax 100vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        60vmax 60vmax;
      background-position:
        -60vmax -90vmax,
        50vmax -40vmax,
        0vmax -20vmax,
        -40vmax -20vmax,
        40vmax 60vmax;
    }
    50% {
      background-size: 
        80vmax 80vmax,
        110vmax 110vmax,
        80vmax 80vmax,
        60vmax 60vmax,
        80vmax 80vmax;
      background-position:
        -50vmax -70vmax,
        40vmax -30vmax,
        10vmax 0vmax,
        20vmax 10vmax,
        30vmax 70vmax;
    }
    75% {
      background-size: 
        90vmax 90vmax,
        90vmax 90vmax,
        100vmax 100vmax,
        90vmax 90vmax,
        70vmax 70vmax;
      background-position:
        -50vmax -40vmax,
        50vmax -30vmax,
        20vmax 0vmax,
        -10vmax 10vmax,
        40vmax 60vmax;
    }
  } */
.container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 16px;
    margin: 48px;
}

/* Navbar */
.nav-container {
    grid-column: span 12;
    height: 40px;
}
.nav-container img {
    height: inherit;
}
.nav-content {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 16px;
}
.nav-expanded {
    justify-content: space-between;
}
.nav-content > div:nth-child(1) {
    display: flex;
    gap: 48px;
}
.nav-content > div:nth-child(2) {
    display: flex;
    gap: 16px;
}
.nav-logo {
    font-size: 32px;
    font-weight: 700;
    color: #F7CA47;
    text-decoration: none;
}

/* Content */
.content-main {
    grid-column: col-start 4 / span 6;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: 160px auto 0 auto;
}
.container-secondary {
    gap: 16px;
}
.container-secondary:nth-child(3) > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-top-artists {
    display: flex;
    justify-content: space-between;
}

/* Components */
.btn {
    display: flex;
    align-items: center;
    background: #282828;
    color: white;
    padding: 10px;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    gap: 8px;
    white-space: nowrap;
    transition: .2s;
}
.btn:hover {
    background: #494949;
    color: #fff;
}
/* .btn:hover .icon {
    filter: invert();
} */
.btn:active {
    background: #ffffff;
    color: #282828;
}
.btn:active .icon {
    filter: invert();
}
.dropbtn {
    gap: 8px;
}
.logo {
    margin: 0 auto;
}
.h1-title {
    font-family: Josefin Sans;
    font-size: 128px;
    font-weight: 700;
    line-height: 128px;
    text-align: center;
    background: linear-gradient(97.53deg, #F7CA47 -1.61%, #C28000 97.12%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.h2-title {
    font-size: 20px;
    color: white;
    font-weight: 600;
    width: fit-content;
}

/* Artist Components */
.img-placeholder-sm {
    width: 24px;
    height: 24px;
    border-radius: 36px;
    background: #F7CA47;
}
.img-placeholder-lg {
    width: 80px;
    height: 80px;
    border-radius: 36px;
    background: #F7CA47;
}
.btn-artist {
    background: none;
    border: none;
    text-align: left;
    gap: 16px;
    cursor: pointer;
}
.artistButtonText {
    color: white;
}

/* Artist Popup */
.container-artist-popup {
    position: fixed;
    background: radial-gradient(100% 100% at 100% 0%, rgba(255, 117, 35, 0.66) 4.17%, rgba(28, 22, 22, 0.72) 71.62%, rgba(0, 0, 0, 0.69) 100%);
    height: 100vh;
    padding: 24px;
    gap: 24px;
    top: 0;
    right: 0;
    z-index: 1;
    backdrop-filter: blur(25px);
    width: 502px;
    overflow-y: scroll !important;
    z-index: 20001;
}
.artist-basic-info {
    gap: 16px;
}
.artist-image {
    width: 118px;
    height: 118px;
    border-radius: 80px;
}
.artist-name {
    font-size: 32px;
    color: white;
}
/* Popular songs */
.artist-popular-songs {
    color: white;
}
.container-artists-songs {
    margin: 0 -8px;
}
.explicit {
    height: 14px;
    height: 14px;
}
.artist-song {
    align-items: center;
    /* height: 52px; */
    border-radius: 8px;
    padding: 5px 0;
    cursor: pointer;
}
.artist-song > div:nth-child(1) {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    padding-left: 8px;
}
.artist-song > div:nth-child(2) {
    display: flex;
    gap: 48px;
    color: #C8C8C8;
    padding-right: 24px;
}
.artist-song:hover {
    background: rgba(61, 61, 61, 0.5);
}
.artist-song:active {
    background: rgba(95, 95, 95, 0.5);
}
.album-cover-sm {
    width: 36px;
    height: 36px;
    border-radius: 4px;
}
.song-name {
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     height: 37px;
 }
.song-name > img:nth-child(2) {
    width: 14px;
    height: 14px;
}
/* Discography */
.container-albums {
    display: flex;
    gap: 32px;
    overflow-x: scroll;
    /* height: 206px; */
    padding-bottom: 16px;
    margin-bottom: 24px;
}
.album {
    gap: 8px;
    color: white;
}
.album-cover-lg {
    width: 128px;
    height: 128px;
    border-radius: 4px;
}
.album-name {
    /* font-weight: 600px; */
    margin-top: 8px;
    overflow: hidden;
    max-width: 12ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.album-year {
    color: #C8C8C8;
    font-size: 14px;
    margin-top: -8px;
}

a {
    text-decoration: none;
    display: inline-block;
}
body {
    /* background-color: transparent; */
    color: #fff;
    margin: 0 auto;
    /* margin-top: 50px; */
    /* text-align: center; */
    font-family: JosefinSans Regular, sans-serif;
    line-height: 1.5em;
}
header.navigation {
    background-color: transparent;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    height: 50px;
    width: 100%;
    z-index: 999;
    margin: 0 auto 1em;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}
header.navigation a {
    text-decoration: none;
    display: inline-block;
    margin-top: .4em;
    max-height: 50px;
    font-size: 1.75em;
    color: #27ae60;
}
input, button {
    border-radius: 20px;
    padding: 5px;
}
input {
    font-weight:300;
    font-size:.95em;
    color:#000;
    background:#fff;
    border:1px solid #000;
    width:80%;
    height:20px;
    margin-right:.5em;
    margin-top: 20px;
}
button {
    margin-top: 20px;
    color:#fff;
    background:#2ebd59;
    text-transform:uppercase;
    font-size: .85em;
    line-height: 1;
    border-radius: 20px;
    padding: 10px 30px 10px;
    border-width:0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
h1 {
    font-family: JosefinSans Bold;
    padding-top: 20px;
    background-image: linear-gradient(140deg, #F7CA47, #C28000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    line-height: initial;
    width: min-content;
    margin: 0 auto;
    font-size: 100px;
}
#submit {
    display: none;
}
#query {
    padding-left: 20px;
}
svg {
    margin: 0 auto;
    display: block;
    background-color: transparent;
}
#uri {
    display: inline-block;
    color:#F7CA47;
    cursor: pointer;
    font-size: 45px;
    margin: 15px auto;
    font-weight: bold;
}
#message {
    font-weight: 300;
}
#chart {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top: 360px; */
}

.right {
    right: 0;
}

.artistWrapper {
    height: 0;
    width: 0;
    margin-bottom: 2vh;
}

.artistImg {
    width: 205px;
    height: 205px;
    border-radius: 1000px;
    position: absolute;
    z-index: 55;
    background-color: black;
    top: -213px;
    left: 50%;
    transform: translateX(-50%);
    background-size: cover;
    border: 3px solid white;
}

#modal {
    /* background-color: white; */
    /* width: 200px; */
    /* height: 100px; */
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
    text-align: center;
}

.blurBackground {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    filter: blur(0px);
}

    .modal-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    }
    .button {
        width: fit-content;
        margin: 0 auto;
      }


/* Inline #2 | https://omnimusic.co/omni-dev/app/index.php?state=GVSOSGSDPUW7IWSL */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .button img {
    margin-right: 10px;
    height: 30px;
  }
  
  .modal-flex .button img {
    height: 24px;
  }
  
  #modal > .button img {
    height: 20px;
  }
  
  .button {
    border-radius: 100px;
  }
  
  .modal-flex > img {
    padding: 0 25px;
  }
  
  /* styles.css | https://omnimusic.co/omni-dev/app/styles.css?version=1675642269890 */
  
  .modal-flex {
    margin-top: 8px;
  }
  

#modal .button {
    background-color: #282828;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.links line {
    stroke: rgba(150, 163, 176, 0.5);
    stroke-opacity: 1;
}

.links line:hover {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 4px;
}
.nodes circle {
    stroke: #F7CA47;
    stroke-width: 2px;
}
.nodes circle:hover {
    cursor: pointer;
    fill: #333;
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    min-width: 50px;
    min-height: 18px;
    padding: 6px;
    font: 15px;
    background: #666;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
    z-index: 500;
}
#home-element-2 input {
    height: 40px;
    border: none;
    border-radius: 24px;
    display: flex;
    font-family: JosefinSans Regular;
    font-size: 20px;
    color: #282828;
    width: calc(100% - 50px);
    position: relative;
    margin: 0;
    padding: 5px 5px 0 50px;
}
#home-element-2 img {
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    z-index: 1000;
}
#home-element-1,
#home-element-2,
#home-element-3,
#home-element-4 {
    /* position: relative; */
    z-index: 1000;
}

svg:not(:root) {
    overflow:visible !important;
}

#home-element-2, #uri {
    z-index: 3000;
    position: relative;
}
   
@media (min-width:700px){
    input {
        width: 400px;
    }
    button{
        margin-top: 0;
    }
}


#uri {
    position: absolute;
    top: 160px;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
}

.container-artist-popup {
    position: fixed;
    right: -600px;
    transition: 0.4s all ease-in-out;
}

.container-artist-selected {
    right: 0;
}

html {
    overflow-x: hidden;
}

#homepageLink {
    display: none;
    width: 100px;
    height: 40px;
    position: absolute;
    top: 48px;
    left: 48px;
    z-index: 10000;
}
.container-top-artists .btn-artist.flex-column:first-child {
    padding-left: 0;
} 
.container-top-artists .btn-artist.flex-column:last-child {
    padding-right: 0;
}
.artistButtonText, button {
    text-transform: initial;
}
#modal .button {
    cursor: pointer;
}



#original-artist-extra-kids .button {
    padding: 8px 16px;
    border-radius: 100px;
}
#original-artist-extra-kids .modal-flex {
    margin: 0;
}
#original-artist-extra-kids {
    margin-top: 8px;
    padding: 5px;
    background: #282828;
    border-radius: 100px;
}
#original-artist-extra-kids .button img {
    width: 22px;
    height: 22px;
    margin: 0;
    /* background: #282828; */
}
.song-name > p:first-child {
    overflow: hidden;
    max-width: 32ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 16px;
}
#nav-container-id {
    z-index: 20000;
    position: inherit;
}
#influencesButtonOuterNodes, #similarButtonOuterNodes, #influencedButtonOuterNodes {
    position: relative;
}
#influencesToolTip {
    left: 0;
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
}
  
#influencesToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
}



#similarToolTip {
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
}
#similarToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
    left: 50%;
    transform: translateX(-50%);
}

#influencedToolTip {
    right: 0;
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
}
#influencedToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
    right: 20px;
}

.button:active .icon, #modal .button:active .icon {
    filter: invert();
}

.button:hover p,.button:hover span {
    color: #fff;
}
.button:active p,.button:active span {
    color: #000;
}

.button:hover, #modal .button:hover {
    background: #494949;
}
.button:active, #modal .button:active {
    background: #fff;
}


#originalInfluences, #originalSimilar, #originalInfluenced {
    position: relative;
}
/* #originalInfluencesToolTip {
    left: 0;
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
    width: max-content;
} */
/* #originalInfluencesToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
} */


#originalInfluencesToolTip, #originalSimilarToolTip, #originalInfluencedToolTip {
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
    width: max-content;
}
#originalInfluencesToolTip::before, #originalSimilarToolTip::before, #originalInfluencedToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
    left: 50%;
    transform: translateX(-50%);
}
#artistNameButton {
    margin-top: -12px;
}
#extra-kids .modal-flex {
    background: #282828;
    border-radius: 100px;
    padding: 6px;
}
.btn, .button {
    transition: .2s all ease-in-out;
}
/* .nodes circle {
    transition: .5s ease-in-out;
} */
/* #originalInfluencedToolTip {
    right: 0;
    bottom: -70%;
    padding: 10px 20px;
    background: #494949;
    border-radius: 100px;
    position: absolute;
    display: none;
    transition: .5s all ease-in-out;
    width: max-content;
} */
/* #originalInfluencedToolTip::before {
    position: absolute;
    display: block;
    content: '';
    padding: 10px;
    background: #494949;
    top: -20px;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%, 0% 100%);
    right: 20px;
} */

.modal-flex .active {
    filter: invert(100%);
}
#selected_artist_modal_name {
    font-size: 20px;
    font-weight: 700;
}