html {
    min-height: 100vh;
    max-height: 100vh;
    background: radial-gradient(circle at center, #0E3562, #030316 100%);
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    background-color: transparent;
    color: #fff;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    font-family: 'Helvetica', sans-serif;
    line-height: 1.5em;
}
header.navigation {
    background-color: transparent;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
    height: 50px;
    width: 100%;
    z-index: 999;
    margin: 0 auto 1em;
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
}
header.navigation a {
    text-decoration: none;
    display: inline-block;
    margin-top: .4em;
    max-height: 50px;
    font-size: 1.75em;
    color: #27ae60;
}
input, button {
    border-radius: 20px;
    padding: 5px;
}
input {
    font-weight:300;
    letter-spacing:2px;
    font-size:.95em;
    color:#000;
    background:#fff;
    border:1px solid #000;
    width:80%;
    height:20px;
    margin-right:.5em;
    margin-top: 20px;
}
button {
    margin-top: 20px;
    color:#fff;
    background:#2ebd59;
    text-transform:uppercase;
    letter-spacing:2px;
    font-size: .85em;
    line-height: 1;
    border-radius: 20px;
    padding: 10px 30px 10px;
    border-width:0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
h1 {
    padding-top: 20px;
    background-image: linear-gradient(140deg, #F7CA47, #C28000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    line-height: initial;
    width: min-content;
    margin: 0 auto;
    font-size: 100px;
}
#submit {
    display: none;
}
#query {
    width: 500px !important;
    padding-left: 20px;
}
svg {
    margin: 0 auto;
    display: block;
    background-color: transparent;
}
#uri {
    display: inline-block;
    color:#F7CA47;
    cursor: pointer;
    font-size: 45px;
    margin: 15px auto;
    font-weight: bold;
}
#message {
    font-weight: 300;
}
#chart {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 360px;
}
.links line {
    stroke: #999;
    stroke-opacity: 0.6;
}

.links line:hover {
    cursor: pointer;
    stroke: #fff;
    stroke-width: 4px;
}
.nodes circle {
    stroke: #F7CA47;
    stroke-width: 3px;
}
.nodes circle:hover {
    cursor: pointer;
    fill: #333;
}

div.tooltip {
    color: white;
    position: absolute;
    text-align: center;
    min-width: 50px;
    min-height: 18px;
    padding: 6px;
    font: 15px;
    background: #666;
    border: 0px;
    border-radius: 5px;
    pointer-events: none;
}

svg:not(:root) {
    overflow:visible !important;
}

#home-element-2, #uri {
    z-index: 3000;
    position: relative;
}
   
@media (min-width:700px){
    input {
        width: 400px;
    }
    button{
        margin-top: 0;
    }
}
